<?xml version="1.0" encoding="UTF-8"?>
<camera>
	<variables>
		<variable>
			<key>nearPlane</key>
			<value>1.0</value>
		</variable>
		<variable>
			<key>farPlane</key>
			<value>1.5e9</value>
		</variable>
		<variable>
			<key>fieldOfView</key>
			<value>1.047198</value>
			<!--<value>60.0</value>-->
		</variable>
		<variable>
			<key>position.x</key>
			<value>1500.0</value>
		</variable>
		<variable>
			<key>position.y</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>position.z</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>viewDirection.x</key>
			<value>-1.0</value>
		</variable>
		<variable>
			<key>viewDirection.y</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>viewDirection.z</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>upDirection.x</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>upDirection.y</key>
			<value>1.0</value>
		</variable>
		<variable>
			<key>upDirection.z</key>
			<value>0.0</value>
		</variable>
		<variable>
			<key>rotateSpeed</key>
			<value>0.005</value>
		</variable>
		<variable>
			<key>translateSpeed</key>
			<value>20.0</value>
		</variable>
		<variable>
			<key>maxMovement</key>
			<value>50.0</value>
		</variable>
	</variables>
</camera>