<?xml version="1.0" encoding="UTF-8"?>
<meshShader>
	<variables>
		<variable>
			<key>type</key>
			<value>Mesh</value>		
		</variable>
		<variable>
			<key>vertexShaderFile</key>
			<value>shader.vert</value>		
		</variable>
		<variable>
			<key>fragmentShaderFile</key>
			<value>shader.frag</value>
		</variable>
	</variables>
</meshShader>